* {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  font-size: 1.25em;
  padding: 1em;
}

.card {
  border-radius: 0.5rem;
}

.hero-tiles {
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .hero-tiles {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5em;
  }

  .auth-area {
    max-width: 25%;
  }
}

.hero-tiles .card  {
  box-shadow: 0 0 10em 5px rgba(0,0,0,0.15);
}

.hero-tiles .title, .hero-tiles .subtitle, .hero-tiles p {
  color: #1b1b1b !important;
}

.hero-tiles .card {
  width: 95%;
  margin: auto;
}

.hero-tiles .card .event-image {
  text-align: center;
  padding: 1rem;
}

.hero-tiles .card .subtitle {
  font-weight: 400;
  font-size: 2em;
}

.auth-area-wrapper {
  width: 100%;
  bottom: 0 !important;
  height: inherit;
  background-color: #fbfbfb;
}

.auth-area {
  margin: auto;
  padding: 1rem;
}

.auth-area .title {
  font-size: 2.5rem;
  font-weight: 200;
}

.auth-area .card {
  box-shadow: 0 0 2.5em 1px rgba(0,0,0,0.05);
}