<section class="hero is-medium is-bold is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Manage all your events in one place!
            </h1>
            <h2 class="subtitle">
                Primary subtitle
            </h2>
        </div>
    </div>

    <div class="columns hero-tiles">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <p>
                        <a class="subtitle">
                            Feature 1
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <p>
                        <a class="subtitle">
                            Feature 2
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <p>
                        <a class="subtitle">
                            Feature 3
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>