<section class="hero is-medium is-bold is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Manage all your events in one place!
            </h1>
            <h2 class="subtitle">
                Primary subtitle
            </h2>
        </div>
    </div>
</section>

<div class="columns hero-tiles">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    Create Events
                </p>
                <div class="event-image">
                    <img src="https://png.icons8.com/dusk/100/000000/calendar.png">
                </div>
                <p>
                    You can create a portal for any of your events.
                    Conferences, meetups, concerts you name it!
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    Manage attendees
                </p>
                <div class="event-image">
                    <img src="https://png.icons8.com/office/100/000000/user-group-man-man.png">
                </div>
                <p>
                    View and manage every person coming to attend your event.
                    Gain insights and valuable information about your event.
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    Get recommended events
                </p>
                <div class="event-image">
                    <img src="https://png.icons8.com/color/100/000000/hint.png">
                </div>
                <p>
                    Based on your preferences, we suggest you the events you might
                    want to attend in the near future.
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    Chat with your attendees
                </p>
                <div class="event-image">
                    <img src="https://png.icons8.com/office/100/000000/thinking-male.png">
                </div>
                <p>
                    We provide built in chat for you to help out the people
                    attending your event so you don't have to register to a messaging service.
                </p>
            </div>
        </div>
    </div>
</div>