<div class="auth-area-wrapper">
    <div class="auth-area">
        <h1 class="title">
            Login
        </h1>
        <div class="card">
            <div class="card-content">
                <form method="POST">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="michael@dundermifflin.com">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="enter password">
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success is-fullwidth">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <footer class="card-footer">
                <a href="/" class="card-footer-item">Cancel</a>
                <a href="/users/new" class="card-footer-item">Sign Up</a>
            </footer>
        </div>
    </div>
</div>